@use 'sass:color';
@use '../variables' as *;

@media (max-width: 1200px) {
  .cc-navbar {
    .navbar-right {
      .chat-btn {
        font-size: 12px; // Ensure correct specificity and nesting
      }
    }
  }
}

.cc-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: $white;
  font-family: $font-family-primary;
  height: 70px;
  padding: 0 $spacing-medium;

  .navbar-left {
    .logo {
      height: 50px;
    }
  }

  .navbar-right {
    .chat-btn {
      background-color: $primary;
      font-family: $font-family-primary;
      color: $white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px; // Default font size for larger screens
      transition: background-color 0.3s ease;

      &:hover {
        background-color: color.scale($primary, $lightness: -10%);
      }
    }
  }
}
