@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: $font-family-secondary;
    background-color: $bg-app;
    overflow-x: hidden;
  }