@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&family=Sora:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Sora classes (Primary font)
.sora-thin {
  font-family: "Sora", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.sora-extralight {
  font-family: "Sora", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.sora-light {
  font-family: "Sora", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sora-regular {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sora-medium {
  font-family: "Sora", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sora-semibold {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sora-bold {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sora-extrabold {
  font-family: "Sora", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.sora-black {
  font-family: "Sora", sans-serif;
  font-weight: 900;
  font-style: normal;
}

// Inter classes (Secondary font)
.inter-thin {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.inter-extralight {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inter-extrabold {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.inter-black {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
}
  