// Color Variables
$primary-color: #FF9C07;
$secondary-color: #6c757d;
$white-color: #ffffff;
$text-color: #17171D;
$font-family-primary: 'Poppins', sans-serif;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;